.hero-container-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('/public/assets/img/hero-bg1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--clr-bg-neutral);
}

.hero-container-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('/public/assets/img/hero-bg2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--clr-bg-neutral);
}


.hero-container-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('/public/assets/img/hero-bg3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--clr-bg-neutral);
}

.hero-container-about {
    display: flex;
    align-items: flex-end;
}


@media (min-width: 992px) {
    .hero-container {
        height: 500px;
    }

    .hero-container-about {
        height: 300px;
    }
}
