.hero-container {
    /* background-image: url('/public/assets/img/hero-bg2.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('/public/assets/img/hero-bg1.jpg');
    background-size: cover;
    color: var(--clr-bg-neutral);
}


