
button.btn.btn-cart {
    background-color: var(--clr-accent-primary);
    border-color: var(--clr-bg-neutral);
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: 100px;

}